dialog {
  --pace: 600ms ease;
  transition: transform var(--pace), opacity var(--pace);

  body:has(&:not(:modal))::before,
  &::backdrop {
    background-color: rgba(from black r g b / 0.6);
    backdrop-filter: blur(4px);
  }

  &[open] {
    opacity: 1;
    transform: translateY(0);

    @starting-style {
      opacity: 0;
      transform: translateY(-25vh);
    }

    &:not(:modal) {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      z-index: calc(var(--index) + 1);

      @starting-style {
        transform: translateY(-25vh);
      }

      body:has(&) {
        --index: 2;

        &::before {
          content: '';
          position: fixed;
          inset: 0;
          cursor: pointer;
          z-index: var(--index);
        }
      }
    }
  }

  &:focus-within {
    background-color: gray;
  }
}

dialog {
  &:is(.custom-modal-1, .custom-modal-2)::backdrop {
    pointer-events: none;
  }

  &.custom-modal-1 {
    &[open] {
      cursor: default;

      html:has(&) {
        cursor: pointer;
      }
    }
  }

  &.custom-modal-2 {
    padding: var(--padding, 80px);
    background-clip: content-box;
    border: none;
    cursor: pointer;

    form {
      position: fixed;
      top: 24px;
      right: 24px;

      button {
        font-size: 2rem;
        aspect-ratio: 1 / 1;
        padding: auto 0;
      }
    }

    h1 {
      border: 3px solid black;
      margin: 0;
      cursor: default;
    }
  }
}