@charset "utf-8";

details:not([name]) {
  position: fixed;
  right: 8px;
  z-index: 1;

  >summary {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    background-color: tomato;
    padding: 0;
    width: 36px;
    aspect-ratio: 1 / 1;

    &::after {
      content: "✕";
      transform: rotate(45deg);
    }
  }

  &::details-content {
    border-radius: 6px;
    block-size: auto;
    max-block-size: 80vh;
    max-inline-size: 480px;
    padding-inline-end: 54px;
    padding-block: 8px 12px;
    transition: transform 0.3s ease, content-visibility 0.3s ease;
    transition-behavior: allow-discrete;
    transform: translateX(calc(100% + 10px));
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: tomato;
  }

  &[open] {
    >summary {
      background-color: transparent;
      box-shadow: none;
      color: black;
      border: transparent;
      transition: all 0.5s ease;

      &::after {
        transform: rotate(0);
      }
    }

    &::details-content {
      transform: translateX(0);
      transition: transform 0.3s ease;
    }

    ~details {
      transform: translateX(-70px);
    }
  }

  ~details {
    display: none;
    transition: transform 0.3s ease;
  }
}

menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
  counter-reset: menu-option;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: 600;

  li {
    display: flex;
  }

  label {
    counter-increment: menu-option;
    border-radius: 6px;
    padding-block: 8px;
    padding-inline: 12px 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;

    &::before {
      content: counter(menu-option) ".";
      margin-inline-end: 8px;
    }

    &:has(input:checked),
    &:hover {
      background-color: rgba(from white r g b / 0.8);
    }

    input {
      display: none;
    }
  }
}

details:not([name]):has(input[value="faq-native-dialog"]:checked)~details[name="faq-native-dialog"],
details:not([name]):has(input[value="faq-accordions-pure-css"]:checked)~details[name="faq-accordions-pure-css"] {
  display: initial;
}